<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesion - ElSuper HelpDesk</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-page">
  <div class="login-card">
    <div class="login-brand">
      <span class="brand-name">ElSuper</span>
      <span class="brand-sub">HelpDesk</span>
    </div>
    <form action="/login" method="post">
      <label for="username">Usuario:</label><br>
      <input type="text" id="username" name="username" required><br>

      <label for="password">Contrasena:</label><br>
      <input type="password" id="password" name="password" required><br>

      <input type="submit" value="Ingresar">
    </form>
  </div>
</body>
</html>
